.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); /* Adjust based on navbar height */
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  text-align: center;
  position: absolute; /* Cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Below modal, above other content */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--primary-pink);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.message {
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary-purple);
  margin-bottom: 10px;
}

.subMessage {
  font-size: 1.1em;
  color: #777;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
